DKIM signing from internationalized domains (IDN-domains)

**Expected behaviour:**
When creating a domain with an internationalized domain name (IDN) (see RFC 5890) in Mailu and adding a DKIM-key, send out emails should get a valid DKIM signature recognised by all other mail providers.

**Observed behaviour:**
Authentification results vary, depending on the mail service on the receiving end. Gmail and Mailu accept the DKIM signature as `dkim=pass`, web.de and Microsoft based mail-services reject the signature (stating `dkim=fail`) according to the lines in the e-mail headers. The same result is also reflected in the DMARC reports sent out by the services the next day.

**Initial root-cause analysis:**
E-mail headers on the receiving side state the following:
web.de: `Dkim-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=test2.xxxxxÃ¼xxxx.de; s=dkim; t=...`
Gmail: `Dkim-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=test2.xxxxxÃ¼xxxx.de; s=dkim; t=...`
The "Ã¼" in the domain name should probably be a German umlaut "ü".

According to section 3.5 of [RFC 6376](https://datatracker.ietf.org/doc/html/rfc6376#section-3.5), the "Internationalized domain names MUST be encoded as A-labels, as described in Section 2.3 of [RFC5890]". A-labels according to [RFC 5890](https://datatracker.ietf.org/doc/html/rfc5890#section-2.3) are ASCII-compatible encodings starting with `xn--`. Probably, some of the email providers are stricter (web.de, Microsoft) than others (Gmail, Mailu) when it comes to handling IDN domains in DKIM signatures. Anyway, I think the correct `d=`-entry in the DKIM-signature header field should look like:
`Dkim-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=test2.xn--xxxxxxxxx-xxa.de; s=dkim; t=...`

Since DKIM signing in Mailu is done by the [DKIM signing module of rspamd](https://rspamd.com/doc/modules/dkim_signing.html), I am still not sure where to find the problem in the code:
- is it a problem with mailu handing over the email-domain to rspamd
- or is rspamd ignoring that IDN-domains need a special treatment.

I would be grateful for any hints.

Rspamd is configured at https://github.com/Mailu/Mailu/blob/master/core/rspamd/conf/dkim_signing.conf ... It polls https://github.com/Mailu/Mailu/blob/master/core/admin/mailu/internal/views/rspamd.py

rspamd_local_domains() clearly does not IDNA encode. If you send a PR requests please ensure it has tests.

The following steps seem to happen when rspamd DKIM-signing is triggered:
- rspamd is requesting the key via the vault; rspam is correctly IDNA encoding the domain inside of the request; this step can be simulated by the following command: `docker exec -it mailu-antispam-1 rspamadm vault show test.xn--xxxxxxxxx-xxa.de -a http://admin:8080/internal/rspamd/vault -t mailu`
- https://github.com/Mailu/Mailu/blob/master/core/admin/mailu/internal/views/rspamd.py is answering this request by returning three fields: `selector`, `key`, and `domain`
- unfortunately, the returned IDN domain is not puny encoded; in my case, the returned value for the field domain still has the German umlaut in it
- whatever is returned by in the field domain ends up in the `d=`-entry of the DKIM-signature; in my case, this is how the German umlaut ends up in the DKIM-signature

My first tests hint into the direction that puny-encoding the field domain in rspamd.py modifies the result in the `d=`-entry of the DKIM-signature _and_ result in a `dkim=pass`, at least at web.de.

If further tests are successful, I will create a pull-request.