Outgoing mail with empty envelope sender is sent without DKIM

I'm debugging an issue with Kmail. It seems to send e-mail without setting the Envelope sender. Usually done by the `MAIL` smtp command. The curious part is that Mailu actually allows the mail to be sent, but RspamD refuses to sign the DKIM. In combination with #1473  this sent all my mail of the last week into a black hole without me knowing.

**Expected behavior**:
1. If the envelope sender equals the authenticated user: allow the email (and sign DKIM)
2. If the envelope sender is an alias of the authenticated user: allow the email (and sign DKIM)
3. If the envelope sender is not an alias or equal to the authenticated user, fail with: `553 5.7.1 <foo@usrpro.io>: Sender address rejected: not owned by user tester@usrpro.io`
4. **What do we expect of an empty sender?**
  a. Correct the header to reflect the authenticated user
  b. Or reject the e-mail from the client

**Current behavior**: all of the above. But with an empty envelope sender mail is actually send, without DKIM signing.

Logs of a test case:

````
smtp_1       | May 02 13:17:20 mail postfix/smtpd[15514]: connect from mailu_front_1.mailu_default[192.168.203.3]
smtp_1       | May 02 13:17:20 mail postfix/smtpd[15514]: 522801C1F36: client=5-15-244-176.residential.rdsnet.ro[5.15.244.176], sasl_method=XCLIENT, sasl_username=tester@usrpro.io
smtp_1       | May 02 13:17:20 mail postfix/cleanup[15518]: 522801C1F36: replace: header Received: from localhost (5-15-244-176.residential.rdsnet.ro [5.15.244.176])??by mail.usrpro.io (Postfix) with ESMTPA id 522801C1F36??for <admin@test.mailu.io>; Sat,  2 May 2020 13:17:20 +0000 (UTC) from 5-15-244-176.residential.rdsnet.ro[5.15.244.176]; from=<> to=<admin@test.mailu.io> proto=ESMTP helo=<localhost>: Received: from authenticated-user (PRIMARY_HOSTNAME [PUBLIC_IP])??by mail.usrpro.io (Postfix) with ESMTPA id 522801C1F36??for <admin@test.mailu.io>; Sat,  2 May 2020 13:17:20 +0000 (UTC)
smtp_1       | May 02 13:17:20 mail postfix/cleanup[15518]: 522801C1F36: message-id=<>
smtp_1       | May 02 13:17:20 mail postfix/qmgr[118]: 522801C1F36: from=<>, size=457, nrcpt=1 (queue active)
smtp_1       | May 02 13:17:20 mail postfix/smtpd[15514]: disconnect from 5-15-244-176.residential.rdsnet.ro[5.15.244.176] ehlo=2 xclient=0/1 mail=1 rcpt=1 data=1 quit=1 commands=6/7
````

The headers on the receiving side:

````
Delivered-To: <admin@test.mailu.io>
Return-Path: <>
Received: from test.mailu.io ([192.168.203.11])
	by test.mailu.io with LMTP
	id OCXxBv9yrV6CFQAAMfcGgg
	(envelope-from <>)
	for <admin@test.mailu.io>; Sat, 02 May 2020 13:17:51 +0000
Received: from mail.usrpro.io (mail.usrpro.io [95.216.219.34])
	by test.mailu.io (Postfix) with ESMTP id B25B65DEBF
	for <admin@test.mailu.io>; Sat,  2 May 2020 13:17:50 +0000 (UTC)
Received: from authenticated-user (PRIMARY_HOSTNAME [PUBLIC_IP])
	by mail.usrpro.io (Postfix) with ESMTPA id 522801C1F36
	for <admin@test.mailu.io>; Sat,  2 May 2020 13:17:20 +0000 (UTC)
From: tester@usrpro.io
To: admin@test.mailu.io
Subject: smtp mail from is empty
Date: 2020-05-02 16:17:21.963507399 +0300 EEST m=+0.867210250
MIME-Version: 1.0
Content-type: text/html; charset="UTF-8"
X-Spamd-Bar: +++++
X-Spam-Level: *****
Authentication-Results: test.mailu.io;
	dkim=none;
	dmarc=fail reason="No valid SPF, No valid DKIM" header.from=usrpro.io (policy=reject);
	spf=none (test.mailu.io: domain of mail.usrpro.io has no SPF policy when checking 95.216.219.34) smtp.helo=mail.usrpro.io
````

I've written a small Go program that reproduces the different cases:

````
package main

import (
	"crypto/tls"
	"fmt"
	"log"
	"net/smtp"
	"time"
)

const (
	from = "tester@usrpro.io"
	to   = "admin@test.mailu.io"
	host = "mail.usrpro.io"
	msg  = "From: %s\r\nTo: %s\r\nSubject: %s\r\nDate: %s\r\nMIME-Version: 1.0\r\nContent-type: text/html; charset=\"UTF-8\"\r\n\r\n%s"
)

var auth = smtp.PlainAuth("", from, "TestPw23", host)

func main() {
	mails := []struct {
		smtpMailFrom string
		subj         string
	}{
		{
			from,
			"smtp mail from is correct",
		},
		{
			"",
			"smtp mail from is empty",
		},
		{
			"foo@usrpro.io",
			"smtp mail from is wrong", // will error
		},
	}

	for n, m := range mails {
		if err := sendMail(m.smtpMailFrom, m.subj); err != nil {
			log.Printf("sendMail %d smtp.mailfrom = %q; ERROR: %s", n+1, m.smtpMailFrom, err)
		} else {
			log.Printf("sendMail %d smtp.mailfrom = %q; SENT", n+1, m.smtpMailFrom)
		}
	}
}

func sendMail(smtpMailFrom, subj string) error {
	// Connect to the remote SMTP server.
	c, err := smtp.Dial(fmt.Sprintf("%s:%d", host, 587))
	if err != nil {
		return fmt.Errorf("Dail: %w", err)
	}
	defer c.Close()

	tc := tls.Config{ServerName: host}
	if err := c.StartTLS(&tc); err != nil {
		return fmt.Errorf("c.StartTLS: %w", err)
	}

	if err := c.Auth(auth); err != nil {
		return fmt.Errorf("c.Auth: %w", err)
	}

	// Set the sender and recipient first
	if err := c.Mail(smtpMailFrom); err != nil {
		return fmt.Errorf("c.Mail: %w", err)
	}
	if err := c.Rcpt(to); err != nil {
		return fmt.Errorf("c.Rcpt: %w", err)
	}

	// Send the email body.
	wc, err := c.Data()
	if err != nil {
		return fmt.Errorf("c.Data: %w", err)
	}
	_, err = fmt.Fprintf(wc, msg, from, to, subj, time.Now(), "This is the email body")
	if err != nil {
		return fmt.Errorf("Body: %w", err)
	}
	err = wc.Close()
	if err != nil {
		return fmt.Errorf("wc.Close: %w", err)
	}

	// Send the QUIT command and close the connection.
	err = c.Quit()
	if err != nil {
		return fmt.Errorf("c.Quit: %w", err)
	}

	return nil
}
````
Copy and paste in a `main.go` and run it with `go run main.go`. It (tries) to send 3 e-mails using the credentials of my testing server and it sends to `admin@test.mailu.io`. Whose inbox can be visited on https://test.mailu.io with the `letmein` password.

**Note:** I will delete the tester account in a week or so to prevent abuse.





[RFC 1123 section 5.2.9](https://tools.ietf.org/html/rfc1123#page-54) notes:

> The syntax shown in RFC-821 for the MAIL FROM: command omits the case of an empty path:  "MAIL FROM: <>" (see RFC-821 Page 15).  An empty reverse path MUST be supported.

So this is clearly not a Mailu bug. The fact the DKIM signing is refused is a good thing in this case: it prevents abuse of this rule.