RFC-compliant email addresses with non-standard characters cause API errors

API operations on mail aliases fail when the address contains '#' (possibly other ASCII/UTF-8 characters too), despite these being valid according to the RFCs.  For example, an API request to delete the alias '`myalias#two@aliasdomain.com`':

```
{
"email":"real.address@gmail.com",
"proxyEmail":"myalias#two@aliasdomain.com",
"mailuId":"01925e3c-9bfd-7254-88cf-c8f6d3db8aaa@mydomain.com"
}
```

...produces the following error:

```
[2025-08-25 10:42:26,849] ERROR in app: Exception on /api/v1/alias/myalias [GET]
Traceback (most recent call last):
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1800, in _execute_context
    context = constructor(
              ^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/engine/default.py", line 1121, in _init_compiled
    param = {
            ^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/engine/default.py", line 1122, in <dictcomp>
    key: processors[key](compiled_params[key])
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/sql/type_api.py", line 1660, in process
    return process_param(value, dialect)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/mailu/models.py", line 63, in process_bind_param
    raise ValueError('invalid email address (no "@")')
ValueError: invalid email address (no "@")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/app/venv/lib/python3.11/site-packages/flask/app.py", line 1823, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/flask_restx/api.py", line 404, in wrapper
    resp = resource(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/flask/views.py", line 107, in view
    return current_app.ensure_sync(self.dispatch_request)(**kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/flask_restx/resource.py", line 46, in dispatch_request
    resp = meth(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^
  File "/app/mailu/api/common.py", line 41, in decorated_function
    return func(*args, **kwds)
           ^^^^^^^^^^^^^^^^^^^
  File "/app/mailu/api/v1/alias.py", line 67, in get
    alias_found = models.Alias.query.filter_by(email = alias).first()
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/orm/query.py", line 2823, in first
    return self.limit(1)._iter().first()
           ^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/orm/query.py", line 2907, in _iter
    result = self.session.execute(
             ^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/orm/session.py", line 1714, in execute
    result = conn._execute_20(statement, params or {}, execution_options)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1705, in _execute_20
    return meth(self, args_10style, kwargs_10style, execution_options)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/sql/elements.py", line 333, in _execute_on_connection
    return connection._execute_clauseelement(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1572, in _execute_clauseelement
    ret = self._execute_context(
          ^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1806, in _execute_context
    self._handle_dbapi_exception(
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 2124, in _handle_dbapi_exception
    util.raise_(
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/util/compat.py", line 208, in raise_
    raise exception
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1800, in _execute_context
    context = constructor(
              ^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/engine/default.py", line 1121, in _init_compiled
    param = {
            ^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/engine/default.py", line 1122, in <dictcomp>
    key: processors[key](compiled_params[key])
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/venv/lib/python3.11/site-packages/sqlalchemy/sql/type_api.py", line 1660, in process
    return process_param(value, dialect)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/mailu/models.py", line 63, in process_bind_param
    raise ValueError('invalid email address (no "@")')
sqlalchemy.exc.StatementError: (builtins.ValueError) invalid email address (no "@")
[SQL: SELECT alias.email AS alias_email, alias.created_at AS alias_created_at, alias.updated_at AS alias_updated_at, alias.comment AS alias_comment, alias.localpart AS alias_localpart, alias.wildcard AS alias_wildcard, alias.destination AS alias_destination, alias.domain_name AS alias_domain_name
FROM alias
WHERE alias.email = %(email_1)s
 LIMIT %(param_1)s]
[parameters: [{}]]
```

It therefore seems that Mailu's API is tripping up over the '#' and using only the part prior to that, then declaring an "`invalid email address (no "@")`" error.  This despite the fact that RFC 5322 [Section 3.2.3](https://www.rfc-editor.org/rfc/rfc5322#section-3.2.3) specifically permits '#' as a valid 'atext' character which can be used as the locally interpreted string for the Addr-Spec ([Section 3.4.1 of RFC 5322](https://www.rfc-editor.org/rfc/rfc5322#section-3.4.1)).

Issue is similar to [#443](https://github.com/Mailu/Mailu/issues/443) but affects the API rather than Dovecot.