SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) + SCRAM-SHA3-512(-PLUS) supports

Dear @Mailu team,

In first, I wish you a Happy New Year!

There is a big security problem, the missing support of SCRAM-SHA-*.

Can you add supports of :
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- Channel Bindings for SCRAM over TLS 1.3: https://tools.ietf.org/html/draft-whited-tls-channel-bindings-for-tls13 -> https://tools.ietf.org/html/draft-ietf-kitten-tls-channel-bindings-for-tls13

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1


> There is a big security problem

You're making a bold claim here. What exactly are you talking about?

We currently do not have any support for challenge-response based authentication mechanisms... pretty much by design. Even if we wanted to, my limited understanding is that SCRAM is a terrible one compared to modern PAKEs (mutual authentication but no forward secrecy) and the specifics of its design choices (like how it does channel binding in the PLUS variant) date back from over a decade ago (generally suck and are incompatible with current standards, including TLS1.3).

Of course, all of the discussion is mostly irrelevant since there is no client support for any of it and even if there was, downgrade attacks would be trivial (since we are unlikely to get rid of PLAIN in our lifetimes).

@nextgens: Thanks for your reply!

Maybe you can do an announcement to have help to add supports in Mailu ^^

About -PLUS variants (TLS Binding) and TLS 1.3, there is a draft and there is no problem with TLS 1.2.

In the "State of Play" link, there is a list of libs/softwares already compatible, maybe you have not looked.

I have looked and the only client I am aware of that has some form of support (outdated, only SCRAM-SHA1) is claws (https://git.claws-mail.org/?p=claws.git;a=commit;h=d9b0f9d8937451a7f4e1e1041a17eaccf0d044d9)

What am I missing?

The more I look into it the less convinced I am: which security property would we aim to get from implementing it?

Replay-protection? CRAM-MD5 is at least supported in the wild and does it too.
Mutual Authentication? That doesn't work in the real world as downgrade attacks are possible and we can't/won't disable PLAIN
...
help me out here please.

About "Mail", without libs, etc.:

SCRAM-SHA-1 and SCRAM-SHA-256:
- SquirelMail (Webmail): https://github.com/RealityRipple/squirrelmail
- mpop (POP3 client): https://marlam.de/mpop/
- msmtp (SMTP client): https://marlam.de/msmtp/
- SnappyMail (Webmail) : https://github.com/the-djmaze/snappymail + https://snappymail.eu/
- Dovecot 2.3.10 (Mail server): https://doc.dovecot.org/configuration_manual/authentication/password_schemes/ + https://dovecot.org/pipermail/dovecot-news/2020-March/000432.html
- Postfix with Dovecot SASL: https://postfix.org/
- PostfixAdmin with Postfix and Dovecot SASL: https://github.com/postfixadmin

SCRAM-SHA-1, SCRAM-SHA-256, SCRAM-SHA-512:
- DataEnter CryptoFilter - The S/MIME Gateway: https://www.dataenter.com/beta/cryptofilter.htm
- DataEnter POPBeamer - The Mail Collector: https://www.dataenter.com/beta/popbeamer.htm
- DataEnter SMTPBeamer - The Mail Server: https://www.dataenter.com/beta/smtpbeamer.htm
- DataEnter XWall - The Mail Filter: https://www.dataenter.com/beta/xwall.htm

SCRAM-SHA-1(-PLUS), SCRAM-SHA-256(-PLUS), SCRAM-SHA-512(-PLUS):
- MimeKit: https://github.com/jstedfast/MailKit + http://www.mimekit.net/docs/html/Introduction.htm
- MailKit: https://github.com/jstedfast/MailKit + http://www.mimekit.net/docs/html/Introduction.htm

SCRAM-SHA-1(-PLUS), SCRAM-SHA-224(-PLUS), SCRAM-SHA-256(-PLUS), SCRAM-SHA-384(-PLUS), SCRAM-SHA-512(-PLUS):
- Cyrus SASL + Cyrus IMAP (Mail server): https://www.cyrusimap.org/sasl/sasl/authentication_mechanisms.html
- Postfix with Cyrus SASL: https://postfix.org/
- PostfixAdmin with Postfix and Cyrus SASL: https://github.com/postfixadmin
- Mutt (Mail client) with Cyrus SASL: http://mutt.org/
- NeoMutt (Mail client): https://neomutt.org/

SCRAM-SHA-1:
- Claws Mail (Mail client): IMAP only: https://www.claws-mail.org/
- Dovecot: https://doc.dovecot.org/configuration_manual/authentication/password_schemes/ (Dovecot 2.3.10 has SCRAM-SHA-1 and SCRAM-SHA-256)
- Postfix with Dovecot SASL: https://postfix.org/
- PostfixAdmin with Postfix and Dovecot SASL: https://github.com/postfixadmin

Ok; let's go for the low-effort action too then.

@nextgens: Closed?

@nextgens: I must to create a new ticket?
It is not solved, when it is not solved, ticket must not be closed.

Maybe you must a test account on a mail server?

@nextgens: For users, it will be easy to have a file with supported protocols.
Some people do not know, there is not a list, it is the problem.
For example, in this file, you can explain that Mailu uses Cyrus SASL :)
And a link to the Cyrus SASL list...

- https://www.cyrusimap.org/sasl/sasl/authentication_mechanisms.html
- https://doc.dovecot.org/configuration_manual/authentication/password_schemes/

@nextgens: I have added the last RFC in the description: RFC9051: Internet Message Access Protocol (IMAP) - Version 4rev2:
- https://tools.ietf.org/html/rfc9051

I wish you a good reading.

A new RFC arrives, RFC 9266: Channel Bindings for TLS 1.3:
- https://www.rfc-editor.org/authors/rfc9266.html

It is official, it is here: RFC 9266: Channel Bindings for TLS 1.3:
- https://tools.ietf.org/html/rfc9266

Dear @mailu team, @nextgens,

Have you progressed on the SCRAM hashes password security?

Linked to:
- https://github.com/scram-sasl/info/issues/1